parameters:
  avatars_directory: '%kernel.project_dir%/public/uploads/avatars'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Document/'
      - '../src/Kernel.php'

  App\Controller\:
    resource: '../src/Controller/'
    tags: ['controller.service_arguments']

  App\Service\FileUploader:
    arguments:
      $avatarsDirectory: '%avatars_directory%'